<% include ../header %>
	<script src="/socket.io/socket.io.js"></script>
	<script>
		var socket = io.connect('<%- appdomain %>');
		socket.on('send-client', function(msg) {
			document.getElementById('chat').innerHTML += msg;
		});

		var enviar = function () {
			var name = document.getElementById('name').value;
			var msg  = document.getElementById('msg').value;
			socket.emit('send-server', {'name': name, 'msg': msg});
		};

	</script>

	<header>
		<h2>NTalk - Chat</h2>
	</header>

	<pre id="chat"></pre>
	<input type="hidden" id="name" value="<%- user.name %>">
	<input type="text" id="msg" placeholder="Mensagem">
	<button onclick="enviar();">Enviar</button>
<% include ../exit %>
<% include ../footer %>